.btn-span {
    width: 100%;
}

tr { cursor: default; }
.table-highlight { background: #e0ecff; }

.table-header-fixed {
    width: 100% 
}

.table-header-fixed > thead,
.table-header-fixed > tbody,
.table-header-fixed > thead > tr,
.table-header-fixed > tbody > tr,
.table-header-fixed > thead > tr > th,
.table-header-fixed > tbody > tr > td {
    display: block;
}

.table-header-fixed > tbody > tr:after,
.table-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-header-fixed > tbody {
    overflow-y: auto;
    height: 25vh;
}

.table-header-fixed > tbody > tr > td,
.table-header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}

.table-cell-align-center {
    text-align: center;
}

.top-buffer { margin-top:20px; }

.dropdown-menu .dropdown-menu {
    position: static;
    float: none;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow:none;
    background-clip: padding-box;
}

/*Overriding bootstrap theme*/
.main-panel > .content {
    padding: 10px 5px;
    min-height: calc(100% - 123px);
}

/*Overriding autocomplete for bootstrap modal*/
.ui-front {
    z-index: 2147483647;
}